.dashboard {
    margin-top: 0;
    position: relative;
    z-index: 99;
    display: flex;
    .sidebar {
        width: 100%;
        .notifications {
            position: absolute;
            right: 15px;
            z-index: 4;
            top: 20px;
            span {
                position: absolute;
                top: -11px;
                right: -8px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 20px;
                width: 20px;
                border-radius: 50%;
                background-color: #fff;
                color: #0d6efd;
                font-size: 14px;
                box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
                border: 1px solid #a8a8a8;
            }
        }
        .notification-list {
            position: absolute;
            top: 50px;
            right: 10px;
            z-index: 3;
            width: -moz-fit-content;
            width: fit-content;
            height: -moz-fit-content;
            height: fit-content;
            background: #fff;
            border: 1px solid #bdbdbd;
            border-radius: 5px;
            padding-left: 0;
            min-width: 185px;
            button {
                text-decoration: underline;
                background-color: transparent;
                border: none;
                box-shadow: none;
                width: 100%;
                text-align: right;
                font-size: 12px;
            }
            li {
                display: flex;
                font-size: 13px;
                border-bottom: 1px solid #e7e7e7;
                padding: 6px 8px;
                position: relative;
                padding-left: 15px;
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    display: flex;
                    margin: auto;
                    left: 5px;
                    height: 5px;
                    width: 5px;
                    border-radius: 50%;
                    background: #000;
                }
            }
        }
        .row {
            height: 100%;
            padding-left: 0;
            padding-right: 0;
            min-height: 100vh;
            display: flex;
            align-items: flex-start;
            width: 100%;
            .side-menu {
                width: 20%;
                background: #2657b3;
                min-height: 100vh;
                height: 100%;
                position: relative;
                padding-right: 0;
                .nav-item {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    .nav-link {
                        width: 100%;
                        color: #fff;
                        padding: 1rem;
                    }
                    .nav-link.active {
                        border-radius: 0;
                    }
                }
                .notification-list {
                    position: absolute;
                    top: 10%;
                    left: 85px;
                    width: -moz-fit-content;
                    width: fit-content;
                    height: -moz-fit-content;
                    height: fit-content;
                    background: #fff;
                    border: 1px solid #bdbdbd;
                    border-radius: 5px;
                    padding-left: 0;
                    min-width: 185px;
                    button {
                        text-decoration: underline;
                        background-color: transparent;
                        border: none;
                        box-shadow: none;
                        width: 100%;
                        text-align: right;
                        font-size: 12px;
                    }
                    li {
                        display: flex;
                        font-size: 13px;
                        border-bottom: 1px solid #e7e7e7;
                        padding: 6px 8px;
                    }
                }
            }
            .side-content {
                width: 80%;
                min-height: 100vh;
                background: #fff;
                .influencer-list {
                    table {
                        border-collapse: collapse;
                        width: 100%;
                        thead {
                            tr {
                                background-color: #2657b3;
                                color: #fff;
                            }
                        }
                        td, th {
                            border: 1px solid #dddddd;
                            text-align: left;
                            padding: 10px 13px;
                            text-align: left;
                            min-width: 168px;
                        }
                        th {
                            &:nth-child(1) {
                                border-left: none !important;
                            }
                            &:last-child {
                                border-right: none !important;
                            }
                        }
                        td {
                            font-size: 14px;
                            line-height: 1.6;
                            min-height: 66px;
                            span {
                                strong {
                                    color: #2657b3;
                                }
                            }
                            button {
                                background: #5172FC;
                                min-width: fit-content;
                                padding: 8px 14px;
                                border: none;
                                border-radius: 8px;
                                outline: none;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                height: 35px;
                            }
                        }
                        tr{
                            &:nth-child(even) {
                                background-color: #dddddd;
                              }
                        }
                    }
                }
            }
            .tab-content {
                .nav-item {
                    margin-right: 1rem;
                    a.nav-link {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        min-width: 100px;
                        padding: 10px 14px;
                        border-radius: 40px;
                        font-size: 14px;
                        outline: none;
                        background: #fff;
                        border: 1px solid #7c7c7c;
                        color: #000;
                    }
                    a.nav-link.active {
                        background: #2657b3 !important;
                        border: 1px solid #2657b3 !important;
                        color: #fff;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
        .logout-button {
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 1;
            button {
                background: #0d6efd;
                border: none;
                outline: none;
                border-radius: 5px;
                color: #fff;
                padding: 5px 20px;
            }
        }

        .payment-form {
            position: absolute;
            background: rgba(0, 0, 0, .5);
            width: 100%;
            height: 100%;
            inset: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            form {
                display: flex;
                flex-direction: column;
                width: 100%;
                max-width: 600px;
                margin: auto;
                background: #fff;
                padding: 3rem;
                border-radius: 10px;
                max-height: 90vh;
                overflow-y: scroll;
                position: relative;
                &::-webkit-scrollbar-thumb {
                    background: #0d6efd;
                    border-radius: 10px;
                }
                &::-webkit-scrollbar {
                    width: 10px;
                    height: 8px;
                    background-color: #aaa0;
                }
                .cls-btn {
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    background-color: transparent;
                    border: none;
                    box-shadow: none;
                }
                .input-container {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 1.5rem;
                    label {
                        margin-bottom: 10px;
                    }
                    input {
                        padding: 10px 15px;
                        min-height: 50px;
                    }
                }
            }
        }
    }
    .dash-pages {
        width: 70%;
    }

    .user-details {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .1);
        .user-details-container {
            background-color: #fff;
            padding: 3rem 2rem;
            width: 100%;
            max-width: 780px;
            position: relative;
            .details {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .details-content {
                    width: 48%;
                    display: flex;
                    color: #000;
                    p {
                        color: #7c7c7c;
                        margin-left: 15px;
                    }
                }
            }
        }
        .close {
            position: absolute;
            border: none;
            background: none;
            outline: none;
            right: 15px;
            top: 15px;
        }
    }
}