@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.Toastify__toast-body {
  div {
    text-align: left;
  }
}

.App {
  position: relative;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, .1);
  z-index: 4;
  span {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
  }
}

.table-pagination {
  button {
    border: none;
    box-shadow: none;
    outline: none;
    transition: .3s ease;
  }
  button.page-btn {
    background-color: #005caf;
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }

  button.page-num {
    background: none;
  }

  button.page-num.active {
    background: #005caf;
    color: #fff;
    transition: .3s ease;
    border-radius: 3px;
  }
}

button:disabled,
button[disabled] {
    background-color: #1032bb47 !important;
}